<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sentiment Data Pipeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/assets/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .bordercss {
            /*border-top: #ffffff;*/
            /*border-right: #ffffff;*/
            /*border-bottom: grey;*/
            /*border-left: #ffffff;*/
            /*border-bottom-left-radius: 0px;*/
            background: #ffffff;
            margin-bottom: 18px;
        }

        #table {
            width: 1000px;
            height: 10px;
            overflow: scroll;
        }
    </style>
</head>
<body>
    <div class="wrapper" style="background: white;border-radius: 5px;padding-top:20px;padding-left:30px;padding-right:30px;padding-bottom:30px;border-color: 7px solid #88893;width: 900px;height: 570px;">
        <form action="">
            <!-- SECTION 1 -->
            <h2 style="color: #00A4EF;font-weight: bold;text-align: center">Sentiment Data Pipeline</h2><br>
            <h5 style="color: #00A4EF;font-weight: bold;text-align: center;font-size: 18px;">Edit Keywords</h5><br>
            <table cellspacing="0" cellpadding="0" border="0" width="325">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="1" border="1" width="800">
                            <tr style="color:white;background-color:#00abeb">
                                <!-- <th style="width: 980px;padding: 10px;text-align: center;border-right-color: #00abeb;">Region</th>
                                <th style="width: 900px;padding: 10px;text-align: center;">Market Code</th> -->
                                <th style="width: 980px;padding: 10px;text-align: center;border-right-color: #00abeb;">Keyword</th>
                                <th style="width: 30px;padding: 10px;text-align: center;border-right-color: #00abeb;">Edit</th>
                                <th style="width: 300px;padding: 10px;text-align: center;border-right-color: #00abeb;">Delete</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:1100px; height:200px; overflow-y:auto;">
                            <table cellspacing="0" cellpadding="1" border="1" width="800">
                                <!--  <tr>
                                                   <td style="width: 928px;padding: 10px;"><i class="fa fa-angle-double-right"></i> Denmark</td>
                                                   <td style="width: 928px;padding: 10px;">da-DK</td>
                                               </tr> -->
                                <tr>
                                    <td style="width: 800px;padding: 10px;"><i class="fa fa-angle-double-right"></i> Death Penalty</td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-edit"></i></td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td style="width: 800px;padding: 10px;"><i class="fa fa-angle-double-right"></i> Honor Killing</td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-edit"></i></td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td style="width: 800px;padding: 10px;"><i class="fa fa-angle-double-right"></i> Child Marriage</td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-edit"></i></td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-trash"></i></td>
                                </tr>
                                <tr>
                                    <td style="width: 800px;padding: 10px;"><i class="fa fa-angle-double-right"></i> Vivek</td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-edit"></i></td>
                                    <td style="width: 200px;padding: 10px;text-align: center;"><i class="fa fa-trash"></i></td>
                                </tr>

                            </table>








        </form>
    </div>
    <br><div class="row">
        <div class="col-lg-4 col-sm-4">
            <p style="font-size:20px;margin-left: 15px;">Click to add new keywords <i style="cursor: pointer;" class="fa fa-plus" id="view_keyword"></i></p>
        </div>
    </div>
    <div class="row">
        <div id="add_keyword">

            <div class="col-lg-4 col-sm-4">
                <div style="color: rgb(0,0,255);">
                    <input class="form-control" placeholder="Keyword" style="width: 400px;">
                    (To update the modifications just click the tick mark)
                </div>

            </div>
            <div class="col-lg-1 col-sm-1">
                <span><i style="cursor: pointer;color: red;font-size: 28px;" class="fa fa-close" id="close_keyword"></i></span>
            </div>
        </div>
    </div>

    <br>
    <button type="button" class="btn btn-primary" style="margin-top:-15px;float: left;" onclick="window.location.href= '/Home/SettingsEditPage';">Back</button>
    <!--                <a href="index.html"><button type="button" class="btn btn-primary" style="float: right;">Submit</button>
    -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="~/assets/js/jquery.steps.js"></script>

    <!-- DATE-PICKER -->
    <script src="~/assets/vendor/date-picker/js/datepicker.js"></script>
    <script src="~/assets/vendor/date-picker/js/datepicker.en.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script>
         $(document).ready(function(){
             $("#add_keyword").hide();
          $('#view_keyword').on("click", function(e) {
                     $("#add_keyword").show();
                  });
           $('#close_keyword').on("click", function(e) {
                     $("#add_keyword").hide();
                  });



         });
    </script>

</body>
</html>