<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6 col-sm-offset-1 col-sm-8">
            <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYjY1MTIzYmQtZGZiZC00YjE4LTlhMmMtOWEwZjJmOTkzMjUwIiwidCI6Ijk0OWY4NTQyLWUwZDMtNGEyZS1iNzU0LTZiMjAyNzkzMjc4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="col-lg-2 col-sm-2" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary" style="margin-left:150px;border-radius:5px;" onclick="window.location.href= '/Home/HomePage';">Settings</button>
        </div>
    </div>
    


</body>
</html>